# =============================================================================
# PostgreSQL
# =============================================================================

POSTGRES_PORT=5432
POSTGRES_USER=taskforge
POSTGRES_PASSWORD=postgres_dev_password
POSTGRES_DB=taskforge_db

# =============================================================================
# Application
# =============================================================================

APP_PORT=9099
APP_MODE=debug # debug/release
APP_LOGGING_LEVEL=debug # trace/debug/info/warn/error
APP_ENCRYPTION_KEY=r9bPqQN4jJ7FRdJm13iW0WI_tnkSbqJAyIWv7RClq5g=

# =============================================================================
# Database — Migrations
# =============================================================================

MIGRATIONS_AUTO=true # true/false
MIGRATION_DB_USER=taskforge_migrator
MIGRATION_DB_PASSWORD=migrator_dev_password

# =============================================================================
# JWT
# =============================================================================

APP_JWT_SECRET=r9bPqQN4jJ7FRdJm13iW0WI_tnkSbqJAyIWv7RClq5g=
APP_JWT_EXPIRY=30


# =============================================================================
# Database — Application
# =============================================================================

DB_HOST=postgres
DB_PORT=5432
DB_NAME=taskforge_db
DB_USER=taskforge_app
DB_PASSWORD=postgres_dev_password


# =============================================================================
# Redis
# =============================================================================

REDIS_ADDR=redis:6379
REDIS_PORT=6379
REDIS_PASSWORD=redis_dev_password

# =============================================================================
# EMAIL
# =============================================================================

EMAIL_MODE=smtp # smtp/mailtrap/console

# Mailtrap
MAILTRAP_DOMAIN=hello@demomailtrap.co
MAILTRAP_API_KEY=02287f10c5786522ae2d93eca998b9b9
MAILTRAP_NAME=task-forge

# SMTP
SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_FROM=yourapp@example.com
SMTP_USER=
SMTP_PASSWORD=
